:root {
  --externBG: #50206C;
  --internBG: #3D1952;
  --elementLeft: #FFFFFF;
  --elementRight: #E0E0E2;
}
body {
  background: #50206C;
}
.defaultElement {
  margin-right: 10px;
  display: inline-block;
  width: 80px;
  height: 80px;
  background-image: linear-gradient(to right, var(--elementLeft) 50%, var(--elementRight) 50% );
}
.square{
  background: red;
  position: relative;
}
.square::after,
.square::before {
  visibility: visible;
  content: '';
  background-image: linear-gradient(to right, var(--elementLeft) 33%,var(--elementRight) 50%);
  position: absolute;
  height:15px;
  width:80px;
  top: 50%;
  border-radius: 4px;
}

.square::after{
  transform: translateY(-50%) rotate(45deg);
}
.square::before{
  transform: translateY(-50%) rotate(-45deg);
}


.circle{
  border-radius: 100%;
}